body {
	background-color: white;
}

.Header {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#Header2{
  margin: 0 auto;
	display: block;
  padding-left: 28px;
	padding-right: 28px;
  text-align: center;
}


#Header3{
  margin: 0 auto;
	display: block;
	border: 2px solid black;
	padding: 5px;
  padding-left: 28px;
	padding-right: 28px;
  border-radius: 15px ;
}

#Button {
  margin: 0 auto;
	display: block;
	background-color: black;
	color: white;
	padding: 15px 20px;
  border-radius: 15px ;
}
